@charset "UTF-8";
body{
background: url("../images/tr1.jpg") no-repeat fixed;
background-repeat:no-repeat;
backgroud-size:100% 100%;
background-color:blue;
text-align:center;
line-height:1.5;
}
h1,h2,h3{
color: white;
}
h3{
text-align:center;
line-height:3.0;
}
input , select {
  width: 12%;
}