@charset "UTF-8";
html{
background: url("../images/tr1.jpg") no-repeat center center fixed;
text-align:center;
line-height:1.5;
}
body{
text-align:center;
line-height:1.5;}
.border
{
  border: 2px solid white;
  padding:35px;
  border-radius: 10px;
  background-color:white;
  color:Black;
  margin-left:25%;
  margin-right:25%;
  margin-top:5%;
}
table{
	text-align:center;
	border-collapse:collapse; 
    border-spacing:5px 5px; 
}
td{
	line-height:3.0;
	border-collapse:collapse; 
    border-spacing:2px 2px; 
    padding:0 5px;
}
