<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>VJ_TRAVELS</display-name>
  <servlet>
    <servlet-name>View</servlet-name>
    <servlet-class>ViewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Admin</servlet-name>
    <servlet-class>Admin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Passenger details</servlet-name>
    <servlet-class>Passengerdata</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>seat</servlet-name>
    <servlet-class>Availableseat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Passenger details</servlet-name>
    <url-pattern>/Passengerdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>seat</servlet-name>
    <url-pattern>/Availableseat</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>